@page "/"
<div class="col-md-6">
    <div class="container">
        @switch (Current)
        {
            case "Create":
                <Create />
                break;
            case "Character":
                <Character UserData=@Globals.User />
                break;
            case "Rest":
                <Rest />
                break;
            case "Logs":
                <Logs />
                break;
            case "Train":
                <Train />
                break;
            case "Shop":
                <Shop />
                break;
            case "Explore":
                <Explore />
                break;
        }
    </div>
</div>
