@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu CurrentPage=@Globals.CurrentPage />
</div>
<div class="main">
    <div class="content px-4">
        <Index Current=@Globals.CurrentPage />
    </div>
</div>