<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">exab.web</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="container">
    <div class="row @NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="col">
            @foreach (var i in NavItems)
            {
                <li class="row">
                    <button class="btn btn-block @MenuButtonClass(i) m-1 @ShouldHide(i)" @onclick="() => SetPage(i)">@i</button>
                </li>
            }
        </ul>
    </div>
</div>